@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'KaoriGel';
  src: url('../fonts/KaoriGel/KaoriGel.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  margin: 0;
  overflow-x: hidden;
  font: 'HelveticaNeue' sans-serif;
}

section {
  width: 100%;
  padding: 0;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #FFF;
}

/*Alternate color scheme*/
section:nth-of-type(odd) {
 background-color: #152844;
}

section:nth-child(8) {
  background-color: #33BBDB;
}

section:nth-child(9) {
  background-color: #FFF;
}

.uppercase {
  text-transform: uppercase;
}

.numberz-logo {
  background: url(../img/new/image2.png) no-repeat;
  background-size: contain;
  width: 218px;
  height: auto;
  margin-top: 14px;
}

.numberz-navbar {
  margin: 0;
  padding: 20px;
}

.lsq-form input {
  height: 40px;
  width: 100%;
  border-style: none;
  border-radius: 4px;
  color: #000;
  padding: 10px;
}

.lsq-form label {
  font-weight: normal;
  margin-top: 10px;
}

.lsq-form button {
  margin-top: 22px;
  height: 50px;
  width: 100%;
  border-style: none;
  border-radius: 4px;
  background-color: #F59D1F;
  font-size: 21px;
  box-shadow: 0px 2px 3px #3e3733;
}



.contact a, .contact li{
  text-decoration: none;
  color: #888888;

}

.numberz-hero {
  background: url(../img/new/bg.png);
  background-repeat: no-repeat;
  margin: 0 -25px;
  background-size: contain;
}

.intro {
  max-width:1170px;
  position: absolute;
  color: #fff;
  top: 20%;
  left: 12%;
}

.social{
  display: inline;
  cursor: pointer;
  float: right;
  position: fixed;
  bottom: 0px;
  right: 0px;
  /*margin-left: 10px;
  margin-right: 50px;
  margin-top: 70px;*/
}

.intro-heading {
  font: 'HelveticaNeue';
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 120%;
}

.intro-para {
  font: 'HelveticaNeue';
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  font-weight:lighter;
}

.btn-signup {
  font-size:21px;
  padding: 15px 30px;
  background-color: #F59D1F;
  color: #FFF;
  letter-spacing: 2px;
  box-shadow: 0px 2px 3px #3e3733;
}

a:hover .btn-signup{
  font-size:21px;
  padding: 15px 60px;
  background-color: #FFAF00;
  color: #FFF;
  letter-spacing: 2px;
  box-shadow: 0px 3px 3px #3e3733;
}

nav>ul>li>a {
  color: #6A6A6A;
  font-size: 15px;
  letter-spacing:1px;
  margin-left:10px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #FFF;
  color: #40CCED;
}

.signup-link {
  border: 2px solid #40CCED;
  border-radius: 8px;
  padding: 5px 20px !important;
  margin-top: 6px;
}

.text-align-center {
  text-align: center;
}

.blue-text-color {
  color: #33BBDB;
}
.footer-company div ul li:not(:first-child) {
  font-size: 12px;
}
.footer-company div ul li:not(:first-child) :hover {
  color: #33BBDB;
}
.footer-company-connect{
  text-align: center;
}
.company-social-links{
  padding: 0;
}
.footer-company-connect p{
  padding: 0 10px;
  color: #6A6A6A;
}
.list-style-none{
  list-style: none;
  padding: 10px;
}
.list-style-none li {
  padding: 5px;
  white-space: nowrap;
}
.list-style-1 {
  list-style: none;
  margin-right: 50px;
  padding: 10px;
}

.list-style li
{
  list-style: none;
  display:inline;
  padding: 5px;
}

.content {
  padding: 30px 10px;
}

.font-30 {
  font-size: 30px;
}

.font-36 {
  font-size: 36px;
}

.logo {
  /*width: 100%;*/
  height: 75px;
  /*position: relative;*/
/*   margin-left: 60px; */
}

.logo-2 {
  height: 75px;
/*   margin-left: 35%; */
  margin-top: 10px;
}

/*.logo-3 {
  height: 85px;
  position: relative;
  /*margin-left: auto;
  margin-right: 50%;
}*/
.description {
  margin:auto;
  max-width:400px;
  font:'HelveticaNeue';
  font-weight:"medium";
  text-align: center;
  font-size: 22px;
  padding: 50px 25px;
}

.no-padding-bottom {
  padding-bottom: 0px important!;
}

.inv-management {
  background: url(../img/new/inv_management.png) no-repeat;
  /*position: absolute;
  left: 50%;
  transform: translate(-50%,50%);
  height: 35px;*/
  background-position : center;
}

.expense-management {
  background: url(../img/new/expense_management.png) no-repeat;
  background-position : center;
}

.connect-bank {
  background: url(../img/new/bank.png) no-repeat;
  background-position : center;

}

.advances-invoices {
  background: url(../img/new/adv_invoices.png) no-repeat;
  background-position : center;
}

.acc-collaboration {
  background: url(../img/new/acc_collaboration.png) no-repeat;
  background-position : center;
}


.download-transactions {
  background: url(../img/new/download.png) no-repeat;
  background-position : center;
}

.reconcile-transactions {
  background: url(../img/new/reconcile.png) no-repeat;
  background-position : center;
}

.multiple-excels {
  background: url(../img/new/excels.png) no-repeat;
  background-position : center;
}

/*.quickbook{
  background: url(../img/new/image17.png) no-repeat;
}

.excel{
  background: url(../img/new/image18.png) no-repeat;
}

.tally{
  background: url(../img/new/image19.png) no-repeat;
}*/

.integration-logos{
  background: url(../img/new/group5.png) no-repeat;
}

.comments-section-1 {
  /*transform: translate(35%,15%);*/
  position: relative;
  margin-left: 40%;
  margin-bottom: -30px;
}

.human-1 {
  background: url(../img/new/sraboni.png) no-repeat;
  width: 100%;
  height: 200px;
  background-size: contain;
  margin-bottom: -30px;
}

.human-6 {
  background: url(../img/new/human6.png) no-repeat;
  width: 150%;
  height: 250px;
  background-size: contain;
  margin-bottom: -52px;
}

.comment {
  font-family: 'KaoriGel', 'Patrick Hand', 'HelveticaNeue';
  letter-spacing:2px;
  line-height:170%;
  font-weight: 200;
}

.citation {
  font-family: 'KaoriGel', 'Patrick Hand', 'HelveticaNeue';
  padding-top:10px;
  letter-spacing:1px;
  line-height:170%;
  font-size: 12px;
  letter-spacing:2px;
  line-height:140%;
  font-style: normal;
}

.font-16 {
  font-size: 14px;
}

.comment-1 {
  color: #888888;
  position: absolute;
  left: 0px;
  width: 90%;
  top: 70px;
}

.comment-1 .citation {
  /*width: 150%;*/
}

.comment-6 {
  color: #FFF;
  font-size: 16px;
  left: 30px;
  top: -10px;
}

.padding-20 {
  padding: 20px 50px;
}

.padding-30 {
  padding: 30px 80px;
}

.primary-headline {
  color: #33BBDB ;
  font-weight: lighter;
  letter-spacing:1px;
  line-height:110%
}

.supporting-text {
  font-size: 22px;
  font-weight: lighter;
  letter-spacing:1px;
  line-height:140%;
  color: #FFF;
}

.centerBlock {
  display: table;
  margin: 0 auto;
  }

.white-text-color {
  color: #FFF;
}

.autosize {
  width: auto;
  height: auto;
}

.grey-text-color {
  color: #5D5D5D;
}

.font-18 {
  font-size: 18px;
}



.left-image-position {
  margin-left: -10px;
  width: 100%;
}

.right-image-position {
  position: relative;
  right: -10px;
  width: 100%;
}

.bottom-image-position {
  margin-top: 0px;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.hero-bg {
  height: 86vh;
  width: 100%;
  -o-object-fit:cover;
     object-fit:cover;
}

.font-weight-light {
  font-weight: lighter;
  letter-spacing: 1px;
}

.font-weight-normal {
  font-weight: 300;
  letter-spacing: 1px;
}

.special-div {
  width: 1170px;
  margin: auto;
}

@media only screen and (max-width: 500px) {

  .lsq-form input, .lsq-form button {
    max-width: 100%;
  }

  .intro {
    margin:auto;
    left:0;
    top: 30%;
  }

  .intro .lsq-form {
    left: auto;
  }

  .intro-heading {
    width: 100%;
    padding: 0;
    margin: auto;
    font-size: 2.3rem;
    text-align: center;
    text-shadow: 0px 2px 1px #3e3733;
  }
  .btn-signup{
    font-size:1.2em;
    /*margin-left:10%;*/
    /*width:80%;*/

  }
  .text-align-center{
    font-size:2.8rem;
    line-height:140%;
  }
  .font-16 {
    font-size: 1.6rem;
    width: 100%;
  }
  .primary-headline {
    font-size:2.8rem;
    line-height:140%;
    text-align:center;
    width:95%;
    padding-top:10px;
    margin:auto;
  }
  .supporting-text {
    font-weight:text;
    font-size:1.6rem;
    line-height:150%;
  }
  a:hover .btn-signup{
    font-size:1.2em;
    margin-left:10%;
    width:80%;
  }
  .intro-para {
    text-shadow: 0px 1px 1px #3e3733;
    font-size: 16px;
    margin:auto;
    width:80%;
    text-align: center;
  }
  .comment{
    font-size:1.2rem;
  }
  .comment-1{
    font-size:1rem;
    top: -10px;
  }
  .citation{
    font-size:1rem;
  }
  .logo {
    margin-left: 40px;
  }
  .comment-6-container {
    height: 150px;
    z-index: 90;
  }
  center{
    text-align:center;
    margin:auto;
  }
  .description {
    padding: 20px 15px;
    font-size:2rem;
  }
  .inv-management,.expense-management,.connect-bank, .advances-invoices, .acc-collaboration {
/*     background-size:100%; */
    width:70%;
    margin:auto;
    padding-bottom:14px;
  }

  .logo-2{
    margin:auto;
  }

  .bottom-image-position {
    margin:auto;
    width:70%;
  }

  .hero-bg {
    height: 100vh;
  }

  .last-logo-alignment {
    left: 25%;
  }

  /*.right-image-position {
    right: 0;
  }*/

  .img-client-1 {
    margin-left: 65%;
    margin-top: 30%;
  }

  .list-style-none {
    text-align: left;
  }

  .company-social-links img {
    width: 25px;
    height: auto;
    margin-top: 18px;
  }
  .special-div {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .lsq-form input, .lsq-form button {
    width: 100%;
  }
  .logo {
    margin-left: 20px;
  }

  .download-transactions {
    margin-left: 40%;
  }
  .comment-6-container {
    height: 150px;
  }
}

@media all and (max-width: 768px){
  .footer-company-connect{
    text-align: center;
  }
  .footer-company{
    text-align: center;
  }
}

.blue-border {
  border: 1px solid #35ccef;
}

.blue-bg {
  background-color: #35ccef;
}

.contact-footer li, .contact-footer a {
  text-decoration: none;
  color: #888888;
}

.contact-footer .blue-text-color {
  color: #33BBDB;
}
