@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'KaoriGel';
  src: url('../fonts/KaoriGel/KaoriGel.ttf')  format('truetype'), /* Safari, Android, iOS */
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'HelveticaNeue' sans-serif;
}

section {
  width: 100%;
  padding: 0;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #FFF;
}

/*Alternate color scheme*/
section:nth-of-type(odd) {
 background-color: #152844;
}

section:nth-child(2) {
  background-color: #33BBDB;
}

section:nth-child(9) {
  background-color: #FFF;
}

.uppercase {
  text-transform: uppercase;
}

.numberz-logo {
  background: url(../img/new/image2.png) no-repeat;
  background-size: contain;
  width: 218px;
  height: auto;
  margin-top: 14px;
}

.numberz-navbar {
  margin: 0;
  padding: 20px;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.pricing-card {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  width: 90%;
  margin: 0 auto;
}

.feature-list > li {
  list-style: none;
  font-size: 17px;
  letter-spacing: 1px;
  margin: 5px;
}

.list-grey-bg {
  color: #888888;
}

.list-blue-bg {
  color: #35ccef;
}

.font-weight-normal {
  font-weight: normal;
}

.contact a, .contact li{
  text-decoration: none;
  color: #888888;

}

.numberz-hero {
  background: url(../img/new/bg.png);
  background-repeat: no-repeat;
  margin: 0 -25px;
  background-size: contain;
}

.intro {
  position: absolute;
  color: #fff;
  top: 12%;
  left: 10%;
}

.social{
  display: inline;
  cursor: pointer;
  float: right;
  position: fixed;
  bottom: 0px;
  right: 0px;
  /*margin-left: 10px;
  margin-right: 50px;
  margin-top: 70px;*/
}

.page-header {
  border: none;
}

.intro-heading {
  font-family: 'HelveticaNeue', Arial;
  font-size: 38px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.intro-para {
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
}

.btn-trynow {
  padding: 15px 70px;
  background-color: #F59D1F;
  color: #FFF;
  letter-spacing: 1px;
  width: 80%;
  font-size: 17px;
  font-weight: 600;
  box-shadow: 0px 1px 1px 1px #888888;
  margin: 10px 0;
}

.pricing-desc {
  font-size: 20px;
  padding: 0 80px;
}

.feature-modal-dialog {
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 0;
  opacity: .9;
  background: #fff;
}

.feature-modal-content {
  height: 100vh;
}

.rounded-icon {
  border: 1px solid #F59D1F;
  border-radius: 50%;
  padding: 10px;
}

.yellow-text-color {
  color: #F59D1F;
}
.close-link {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 300;
}

.feature-detail-desc {
  /*list-style: none;*/
  padding-left: 20px;
}

.text-align-left {
  text-align: left;
}

nav>ul>li>a {
  color: #6A6A6A;
  font-size: 14px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #FFF;
  color: #40CCED;
}

.signup-link {
  border: 2px solid #40CCED;
  border-radius: 5px;
  padding: 5px 15px !important;
  margin-top: 6px;
}

.text-align-center {
  text-align: center;
}

.line-height-60 {
  line-height: 60px;
}

.blue-text-color {
  color: #33BBDB;
}
.footer-company div ul li:not(:first-child) {
  font-size: 12px;
}
.footer-company div ul li:not(:first-child) :hover {
  color: #33BBDB;
}
.footer-company-connect{
  text-align: center;
}
.company-social-links{
  padding: 0;
}
.footer-company-connect p{
  padding: 0 10px;
  color: #6A6A6A;
}
.list-style-none{
  list-style: none;
  padding: 10px;
}
.list-style-none li {
  padding: 5px;
  white-space: nowrap;
}
.list-style-1 {
  list-style: none;
  margin-right: 50px;
  padding: 10px;
}

.list-style li
{
  list-style: none;
  display:inline;
  padding: 5px;
}

.feature-modal-body {
  color: #888888;
  font-size: 24px;
  font-weight: 300;
}

.content {
  padding: 30px 10px;
}

.font-20 {
  font-size: 20px;
}

.font-30 {
  font-size: 30px;
}

.font-40 {
  font-size: 40px;
}

.font-45 {
  font-size: 45px;
}

.font-50 {
  font-size: 50px;
}

.logo {
  /*width: 100%;*/
  height: 75px;
  /*position: relative;*/
  margin-left: 60px;
}

.logo-2 {
  height: 75px;
  margin-left: 35%;
  margin-top: 10px;
}

.logo-3 {
  height: 100px;
  margin-top: 15%;
}

.logo-4 {
  width: 100px;
  height: 100px;
  margin-top: 11%;
}

.logo-5 {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-top: 11%;
}
.description {
  text-align: center;
  font-size: 22px;
  padding: 20px 10px;
}

.no-padding-bottom {
  padding-bottom: 0px important!;
}

.integration-logos{
  background: url(../img/new/group5.png) no-repeat;
}

.citation {
  font-size: 14px;
  font-style: normal;
}

.font-16 {
  font-size: 16px;
}

.font-50 {
  font-size: 50px;
}

.padding-20 {
  padding: 20px 50px;
}

.padding-30 {
  padding: 30px 80px;
}

.primary-headline {
  color: #33BBDB;
  font-weight: lighter;
}

.supporting-text {
  font-size: 22px;
  font-weight: lighter;
  color: #FFF;
}

.centerBlock {
  display: table;
  margin: 0 auto;
  }

.white-text-color {
  color: #FFF;
}

.autosize {
  width: auto;
  height: auto;
}

.grey-text-color {
  color: #5D5D5D;
}

.light-grey-text-color {
  color: #888888;
}

.font-18 {
  font-size: 18px;
}

.left-image-position {
  margin-left: -10px;
  width: 100%;
}

.right-image-position {
  position: relative;
  right: -10px;
  width: 100%;
}

.bottom-image-position {
  margin-top: 0px;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.hero-bg {
  height: 70vh;
  width: 100%;
  -o-object-fit:cover;
     object-fit:cover;
}

.font-weight-light {
  font-weight: lighter;
  letter-spacing: 1px;
}

.special-div {
  width: 1170px;
  margin: auto;
}

.feature-desc-container {
  top: 15vh;
}

@media only screen and (max-width: 500px) {
  .page-header {
    font-size: 2em;
    border-bottom: none;
  }

  .pricing-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .pricing-type {
    font-size: 2.5em;
  }

  .pricing-desc {
    padding: 10px;
  }

  .feature-list {
    padding: 2px;
  }

  .btn-trynow {
    padding: 15px;
    width: 100%;
  }

  .feature-detail-desc {
    font-size: 14px;
  }

  .feature-subheading {
    font-size: 14px;
  }

  .list-style-none {
    text-align: left;
  }

  .company-social-links img {
    width: 25px;
    height: auto;
    margin-top: 18px;
  }
  .special-div {
    width: 100%;
    margin: 0;
  }

  #invoiceManagement .feature-desc-container {
    top: 5px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {

}

@media all and (max-width: 768px){
  .footer-company-connect{
    text-align: center;
  }
  .footer-company{
    text-align: center;
  }
}

.blue-border {
  border: 1px solid #33BBDB;
}

.blue-bg {
  background-color: #33BBDB;
}

.contact-footer li, .contact-footer a {
  text-decoration: none;
  color: #888888;
}

.contact-footer .blue-text-color {
  color: #33BBDB;
}
